<div class='container' style='padding-top: 40px;'>
	<div class='row'>
		<div class='col-lg-6 col-lg-offset-3 well'>
			<h1 class='text-center'>LeSh</h1>
			<h2 class='text-center'>Le Link Shortener</h2>

			<%= form_for(@link, remote: true, format: :json) do |f| %>
				<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
				<% if @link.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
						<ul>
						<% @link.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

			<div class='input-group margin-left-right'>
				<%= f.text_field :uri, placeholder: 'e.g. http://google.com', class: 'form-control' %>
				<span class='input-group-btn'>
					<%= f.submit 'Shorten', class: 'btn btn-default', id: 'button_shorten' %>
				</span>
			</div>
			<% end %>

      <div class="input-group margin-top-20 margin-left-right">
        <%= text_field_tag :shortened_link, nil, class: 'form-control copy_data' %>
        <span class='input-group-btn'>
          <button class='copy_button btn btn-default' type='button' ng-click='copy'>
            <%= t 'copy' %>
          </button>
        </span>
      </div>

			<p class='text-right margin-top-20'><a href='/links/info'>Get info about a link <span class='glyphicon glyphicon-arrow-right'></span></a><p>
		</div>
	</div>
</div>
